$color__white: #fff;
$color__black: #000;

$color__gray: #070707;

$color__pink: #ff00b1;
$color__green: #82f0d7;
$color__green-light: #d9fbed;
$color__blue: #7d87ff;
$color__blue-dark: #23285a;

$color__background-body: $color__white;
$color__background-screen: $color__white;
$color__background-hr: $color__blue-dark;
$color__background-button: $color__white;
$color__background-pre: $color__green-light;
$color__background-ins: $color__green-light;

$color__text-screen: $color__blue-dark;
$color__text-input: $color__blue-dark;
$color__text-input-focus: $color__blue-dark;
$color__link: $color__blue-dark;
$color__link-visited: $color__blue-dark;
$color__link-hover: $color__blue-dark;
$color__text-main: $color__blue-dark;

$color__border-button: $color__blue-dark;
$color__border-button-hover: $color__blue-dark;
$color__border-button-focus: $color__blue-dark;
$color__border-input: $color__blue-dark;
$color__border-abbr: $color__blue-dark;
